<div class="container text-center">
  <h1 class="mt-4">All the flats you want to see</h1>
</div>
<div id="map"
   style="width: 100%; height: 600px;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
  <div class="row d-flex ">
    <% @flats.each do |flat| %>
     <div class="col-12 col-md-6 col-lg-4 mt-4">
       <div class="card-product">
         <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
         <div class="card-product-infos p-4">
           <h6><%= flat.name %></h6>
           <p><%= flat.address %></p>
           <p>$<%= flat.price %></p>
          <%= link_to "Details", flat %>
        </div>

      </div>
     </div>
     <% end %>
  </div>
  <div class="mt-4"> <%= link_to 'New Flat', new_flat_path, class: 'btn btn-primary' %></div>
</div>


