<div class="container text-center">
  <h1 class="mt-4">All the flats you want to see</h1>
</div>

<div class="container">
  <div class="row d-flex ">

      <div id="map"
        style="width: 100%; height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
   
    
    <% @flats.each do |flat| %>
     <div class="col-12 col-md-6 col-lg-3 mt-4 mb-4">
       <div class="card-product">
       <% if flat.photos.attached? %>
         <img src="<%= cl_image_path flat.photos.first.key %>" />
         <% else %>
         <img src="https://vestnorden.com/wp-content/uploads/2018/03/house-placeholder.png" />
         <% end %>
         <div class="card-product-infos p-4">
           <h6><%= flat.name %></h6>
           <p><%= flat.address %></p>
           <p>£<%= flat.price %></p>
          <%= link_to "Details", flat %>
        </div>

      </div>
     </div>
     <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    AirBnb <i class="fas fa-heart"></i>
  </div>
</div>
