<div class="container">
  <h2><%= @flat.name %></h2>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%= @flat.price %></p>

  <%= link_to 'Back', flats_path %>
  <%= link_to "edit", edit_flat_path(@flat) %>
  <%= link_to "Delete", flat_path(@flat) , method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

