<div class="container">
  <h2><%= @flat.name %></h2>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%= @flat.price %></p>
  <ul class="list-group">
  	<!-- to review tomorrow -->
    <% @flat.bookings.each do |booking| %>
      <%= link_to "Add Review", new_booking_review_path(booking) %>
      <% booking.reviews.each do |review| %>
    <li class="list-group-item"><%= review.rating %></li>
    <li class="list-group-item"><%= review.description %></li>
    <% end %>
  <% end %>

  </ul>
  <%= link_to 'Back', flats_path %>
  <%= link_to "edit", edit_flat_path(@flat) %>
  <%= link_to "Add Booking", new_flat_booking_path(@flat) %>
  <%= link_to "Delete", flat_path(@flat) , method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

