<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1430285561322-7808604715df?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);">
  <div class="container">
    <h1>Airbnb <strong>best</strong> place <strong>to find flats to rent.</strong>!</h1>
    <p>Go on an adventure with airbnb</p>
    <a class="btn btn-gradient" href="flats">Find Properties</a>
  </div>
</div>

<div class="text text-center mt-4">
<h1>Listed Properties</h1>
</div>

<div class="row">
  <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1475698066764-3dc9200f1c93?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NXx8aG91c2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
      <%= link_to "Flats", flats_path, style: "color: white; text-decoration: none" %>
    </div>
  </div>
  <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571055107559-3e67626fa8be?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8aG91c2VzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
      <%= link_to "Houses", flats_path, style: "color: white; text-decoration: none" %>
    </div>
  </div>
  <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519227355453-8f982e425321?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=889&q=80)">
      <%= link_to "Apartment", flats_path, style: "color: white; text-decoration: none" %>
    </div>
  </div>
   <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522589964067-6e77b94e0d17?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NTR8fGhvdXNlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
      <%= link_to "Villa", flats_path, style: "color: white; text-decoration: none" %>
    </div>
  </div>
   <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1464520460796-5d98a3e5b296?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mzd8fGhvdXNlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
      <%= link_to "BnB", flats_path, style: "color: white; text-decoration: none" %>
    </div>
  </div>
   <div class="col-4 p-5">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1505843795480-5cfb3c03f6ff?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhvdXNlc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
      <%= link_to "Resorts", flats_path, style: "color: white; text-decoration: none" %>
    </div>
  </div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    AirBnb <i class="fas fa-heart"></i>
  </div>
</div>
