
 <div class="container">
  <h1 class="text-center mt-4">User info</h1>
  <div class="container card p-4">
    <p><%= current_user.first_name%> <%= current_user.last_name %></p>
    <p><%= current_user.email %></p>
  </div>
  <h2 class="text-center mt-4">Bookings</h2>
  <div class="container pb-4 card">
    <div class="row d-flex ">
      <% @bookings.select do |booking| %>
        <% if booking.user_id === current_user.id %>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
             <div class="card-product-profile">
               <% if booking.flat.photos.attached? %>
                 <img src="<%= cl_image_path booking.flat.photos.first.key %>" />
                 <% else %>
                 <img src="https://i0.wp.com/reviveyouthandfamily.org/wp-content/uploads/2016/11/house-placeholder.jpg?ssl=1" />
               <% end %>
               <div class="card-product-infos-profile p-4">
                 <h6><%= booking.flat.name %></h6>
                 <p><%= booking.flat.address %></p>
                 <p>£<%= booking.flat.price %></p>
                <%= link_to "Details", booking.flat %>
                <%= link_to "Review", new_booking_review_path(booking) %>
              </div>
            </div>
           </div>
          <% end %>
       <% end %>
    </div>
  </div>

  <h2 class="text-center mt-4">Flats</h2>

  <div class="container card pb-4">
    <div class="row d-flex ">
      <% @flats.select do |flat| %>
        <% if flat.user_id === current_user.id %>
            <div class="col-12 col-md-6 col-lg-4 mt-4">
             <div class="card-product-profile">
                <% if flat.photos.attached? %>
                   <img src="<%= cl_image_path flat.photos.first.key %>" />
                   <% else %>
                   <img src="https://i0.wp.com/reviveyouthandfamily.org/wp-content/uploads/2016/11/house-placeholder.jpg?ssl=1" />
                <% end %>

               <div class="card-product-infos-profile p-4">
                 <h6><%= flat.name %></h6>
                 <p><%= flat.address %></p>
                 <p>£<%= flat.price %></p>
                <%= link_to "Details", flat %>
              </div>
            </div>
           </div>
          <% end %>
       <% end %>
    </div>
  </div>
</div>
